input,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bookcard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:8em;
    height:10em;
    border: solid 2px grey;
    border-radius: 5px;
    background-color: #FEEE91;
}

.bookread{
    width:5em;
    height:2em;
    background-color:#C4E1F6;
    border-color: white;
    border-radius: 5px;
}

.book-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:16px;
    
}

.dialog-container{
    display:flex;
    flex-direction: column;
    gap:5px;
}